header h1 { margin-top: 20px; }

#lines div { width: 100%; }
#lines .button { width: 45%; text-align: center; margin-bottom: 5px; font-size: 18px; }

#lines .red {
    background: #eee; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(210,210,210,.2) 0%, rgba(255,0,0,.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,0,0,.5)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(210,210,210,.2) 0%,rgba(255,0,0,.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(210,255,255,.2) 0%,rgba(255,0,0,.5) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(210,210,210,.2) 0%,rgba(255,0,0,.5) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(210,210,210,.2) 0%,rgba(255,0,0,.5) 100%); /* W3C */
}

#lines .blue {
    background: #eee; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(210,210,210,.2) 0%, rgba(0,0,255,.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,255,.5)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(210,210,210,.2) 0%,rgba(0,0,255,.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(210,210,210,.2) 0%,rgba(0,0,255,.5) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(210,210,210,.2) 0%,rgba(0,0,255,.5) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(210,210,210,.2) 0%,rgba(0,0,255,.5) 100%); /* W3C */
}

#lines .green {
    background: #eee; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(210,210,210,.2) 0%, rgba(0,255,0,.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,255,0,.5)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(210,210,210,.2) 0%,rgba(0,255,0,.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(210,210,210,.2) 0%,rgba(0,255,0,.5) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(210,210,210,.2) 0%,rgba(0,255,0,.5) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(210,210,210,.2) 0%,rgba(0,255,0,.5) 100%); /* W3C */
}

#lines .yellow {
    background: #eee; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(210,210,210,.2) 0%, rgba(255,255,0,.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,0,.5)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(210,210,210,.2) 0%,rgba(255,255,0,.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(210,210,210,.2) 0%,rgba(255,255,0,.5) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(210,210,210,.2) 0%,rgba(255,255,0,.5) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(210,210,210,.2) 0%,rgba(255,255,0,.5) 100%); /* W3C */
}

#stops .stop { font-size: 18px; }

#detail .line { font-size: 20px; color: #999; }
