/* General */
html, body { height: 100%; }
#not-footer { min-height: 100%; }

#container { width: 960px; position: relative; margin: 0 auto; padding: 0 0 30px 0; overflow:auto; }

footer { width: 960px; position: relative; margin: -30px auto 0 auto; height: 30px; clear:both; } 

/* Content */
header h1 { padding-top: 20px; }

#lines .line { font-size: 18px; }

#stops .stop { font-size: 18px; }

#detail .line { font-size: 20px; color: #999; }

/* iPad Portrait/Browser */
@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* Mobile/Browser */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape/Browser */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Anything smaller than standard 960 */
@media only screen and (max-width: 959px) {}

/* iPad Portrait Only */
@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {}

/* Mobile Only */
@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}

/* Mobile Landscape Only */
@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}
