<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hack Tyler Transit</title>
    <meta name="description" content="Time-tables for buses in Tyler, Texas.">
	<meta name="author" content="Hack Tyler">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"> 
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/transit.css">
    
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" 
</head>
<body>
    <div id="not-footer">
        <div id="container">
            <header>
                <h1>Hack Tyler Transit</h1>
                <hr />
            </header>
            
            <div id="content">
                <section id="lines" class="page">
                    <ul>
                        <li id="red-line-north" class="line">Red Line North</li>
                        <li id="red-line-south" class="line even">Red Line South</li>
                        <li id="blue-line-northwest" class="line">Blue Line Northwest</li>
                        <li id="blue-line-southwest" class="line even">Blue Line Southwest</li>
                        <li id="green-line-northeast" class="line">Green Line Northeast</li>
                        <li id="green-line-southeast" class="line even">Green Line Southeast</li>
                        <li id="yellow-line-southwest" class="line">Yellow Line Southwest</li>
                        <li id="yellow-line-southeast" class="line even">Yellow Line Southeast</li>
                    </ul>
                </section>

                <section id="stops" class="page">
                    <a class="button close">&laquo; Back to route list</a>
                    <ul>
                    </ul>
                    <a class="button close">&laquo; Back to route list</a>
                </section>

                <section id="detail" class="page">
                    <a class="button close">&laquo; Back to stop list</a>
                    <div class="contents">
                    </div>
                    <a class="button close">&laquo; Back to stop list</a>
                </section>
            </div>
        </div>
    </div>
    <footer>
    <div class="credits">A <a href="http://hacktyler.com/">Hack Tyler</a> project.</div>
    </footer>

    <script type="text/template" id="stop-list-item-template"> 
        <li id="<%= slug %>" class="stop"><%= stop_street %> & <%= next_cross_street %><% if (transfer_to != "") { %><br /><span class="transfer">Transfer to <%= transfer_to %></span><% } %></li>
    </script> 

    <script type="text/template" id="stop-detail-template"> 
        <h2><%= stop_street %> <% if (next_cross_street != "") { %>& <%= next_cross_street %><% } %> <span class="line"><%= line %></span></h2>
        <div class="map">Map goes here.</div>
        <% if (landmark != "") { %><strong>Landmarks:</strong> <%= landmark %><br /><% } %>

        <h3>Departures</h3>
        <ul class="departures">
            <% _.each(weekday_schedule, function(time, index) { %>
                <% if (time === next_departure) { %>
                    <li class="next"><%= time %> <span class="delta">(<%= next_departure_in %> minutes)</span></li>
                <% } else { %>
                    <li class="<% if (index % 2 == 0) { print('even'); }; %>"><%= time %> </li>
                <% } %>
            <% }); %>
        </ul>

        <% if (transfer_to != "") { %>Transfer to <strong><%= transfer_to %></strong> at this stop.<br /><% } %>
        <% if (shelter != "") { %><strong>There is a bus shelter at this stop.</strong><br /><% } %>
        <% if (sign != "") { %><strong>There is a sign marking this stop.</strong><br /><% } %>
        <% if (flag != "") { %><strong>There is a flag marking this stop.</strong><% } %>
    </script>

    <script type="text/javascript" src="js/jquery-1.5.2.min.js"></script> 
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/underscore.date.min.js"></script> 
    <script type="text/javascript" src="js/backbone-min.js"></script> 
    <script type="text/javascript" src="js/config.js"></script>
    <script type="text/javascript" src="data/bus-stops.js"></script>
    <script type="text/javascript" src="js/transit.js"></script>
</body>
</html>
