<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hack Tyler Transit</title>
    <meta name="description" content="Time-tables for buses in Tyler, Texas.">
	<meta name="author" content="Hack Tyler, Christopher Groskopf (@onyxfish)">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"> 
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/transit.css">
    
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" 
</head>
<body>
    <div id="not-footer">
        <div id="container">
            <header>
                <h1>Hack Tyler Transit</h1>
                <hr />
            </header>
            
            <div id="content">
                <section id="home" class="page">
                    <a id="find-a-stop" class="button">Find a stop</a><br />
                    <a id="view-favorites" class="button">My favorites</a>
                </section>

                <section id="favorites" class="page">
                    <a class="button close">&laquo; Back to home</a>
                    <ul>
                    </ul>
                    <a class="button close">&laquo; Back to home</a>                    
                </section>
                
                <section id="lines" class="page">
                    <a class="button close">&laquo; Back to home</a>
                    <ul>
                        <li id="red-line-north" class="line">Red Line North</li>
                        <li id="red-line-south" class="line even">Red Line South</li>
                        <li id="blue-line-northwest" class="line">Blue Line Northwest</li>
                        <li id="blue-line-southwest" class="line even">Blue Line Southwest</li>
                        <li id="green-line-northeast" class="line">Green Line Northeast</li>
                        <li id="green-line-southeast" class="line even">Green Line Southeast</li>
                        <li id="yellow-line-southwest" class="line">Yellow Line Southwest</li>
                        <li id="yellow-line-southeast" class="line even">Yellow Line Southeast</li>
                    </ul>
                    <a class="button close">&laquo; Back to home</a>
                </section>

                <section id="stops" class="page">
                    <a class="button close">&laquo; Back to route list</a>
                    <h2 class="line-name"></h2>
                    <ul>
                    </ul>
                    <a class="button close">&laquo; Back to route list</a>
                </section>

                <section id="detail" class="page">
                    <a class="button close">&laquo; Back</a>
                    <div class="contents">
                    </div>
                    <a class="button close">&laquo; Back</a>
                </section>
            </div>
        </div>
    </div>
    <footer>
    <div class="credits">A <a href="http://hacktyler.com/">Hack Tyler</a> project.</div>
    </footer>

    <script type="text/template" id="stop-list-item-template"> 
        <li id="<%= order %>" class="stop"><%= name %><% if (transfer_to != "") { %><br /><span class="transfer">Transfer to <%= transfer_to %></span><% } %></li>
    </script> 

    <script type="text/template" id="favorite-list-item-template"> 
        <li id="<%= order %>" class="stop"><%= name %><br /><span class="line-name"><%= line %> Line <%= direction %></span></li>
    </script> 

    <script type="text/template" id="stop-detail-template"> 
        <h2><%= name %> <span class="line"><%= line %> Line <%= direction %></span></h2>
        <div class="map"><img src="images/maps/<%= order %>.png" alt="Map of stop <%= order %>" /></div>
        <p>
            <% if (landmark != "") { %><strong>Landmarks:</strong> <%= landmark %><br /><% } %>
            
            <% if (transfer_to != "") { %>Transfer to <strong><%= transfer_to %></strong> at this stop.<br /><% } %>
        </p>

        <p>
            <% if (estimated_location) { %>Due to lack of detailed information, this stop's location on the map is only an approximation.<br /><% } %>
            <% if (marker == "Shelter") { %><strong>There is a bus shelter at this stop.</strong><br />
            <% } else if (marker == "Sign") { %><strong>There is a sign marking this stop.</strong><br />
            <% } else { %><strong>This stop may not have a shelter or a sign marking its location.</strong><% } %>
        </p>

        <h3 class="subhead">Departures <span class="date">for <% print(_.date().format("dddd, MMMM Do")); %></span></h3>
        <ul class="departures">
            <% _.each(weekday_schedule, function(time, index) { %>
                <% if (time === next_departure) { %>
                    <li class="next"><%= time %> <span class="delta">(<%= next_departure_in %> minutes)</span></li>
                <% } else { %>
                    <li class="<% if (index % 2 == 0) { print('even'); }; %>"><%= time %> </li>
                <% } %>
            <% }); %>
        </ul>
        <div class="asterisk">*All departure times are estimates based on short timetables published by <a href="http://www.cityoftyler.org/TylerTransit/tabid/104/Default.aspx">Tyler Transit</a>.</div>

        <div class="buttons">
            <a class="button favorite"><% if (is_favorite === true) { %>Remove from<% } else { %>Add to<% } %> favorites</a>
        </div>
    </script>

    <script type="text/javascript" src="js/jquery-1.5.2.min.js"></script> 
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/underscore.date.min.js"></script>
    <script type="text/javascript" src="js/backbone-min.js"></script> 
    <script type="text/javascript" src="js/store.min.js"></script> 
    <script type="text/javascript" src="js/config.js"></script>
    <script type="text/javascript" src="data/bus-stops.js"></script>
    <script type="text/javascript" src="js/transit.js"></script>
</body>
</html>
